---
---

@import "{{ site.theme }}";

body, .markdown-body {
    font-family: 'Helvetica', 'Montserrat', sans-serif !important;
}

body {
    background-color: #fff9e6;
}

.hmif-heading {
    border-top: solid 4px #FFC107;
}